.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.card-banner {
  width: 100%;
}

.card-banner img{
  width: 100%;
  height: auto;
}

.card-content {
  padding: 0 20px 20px 20px;
}

p, a {
  font-size: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  color: lightgrey;
}
